
btn.btn-fill, .navbar .navbar-nav > li > a.btn.btn-fill {
    color: #FFFFFF;
    background-color: #66615B;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar .navbar-nav > li > a.btn-primary.btn-fill, .btn-primary.btn-fill {
    color: #FFFFFF;
    background-color: #7A9E9F;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar .navbar-nav > li > a.btn-info.btn-fill, .btn-info.btn-fill {
    color: #FFFFFF;
    background-color: #68B3C8;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar .navbar-nav > li > a.btn-success.btn-fill, .btn-success.btn-fill {
    color: #FFFFFF;
    background-color: #7AC29A;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar .navbar-nav > li > a.btn-warning.btn-fill, .btn-warning.btn-fill {
    color: #FFFFFF;
    background-color: #F3BB45;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar .navbar-nav > li > a.btn-danger.btn-fill, .btn-danger.btn-fill {
    color: #FFFFFF;
    background-color: #EB5E28;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar .navbar-nav > li > a.btn-dark.btn-fill, .btn-dark.btn-fill {
    color: #000 !important;
    background-color: #000 !important;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-neutral.btn-fill {
    color: #FFFFFF !important;
    background-color: #FFFFFF !important;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-neutral.btn-fill {
    color: #fff !important;
}


.navbar .navbar-nav > li > a.btn-primary, .btn-primary {
    border-color: #7A9E9F;
    color: #7A9E9F;
}
.navbar .navbar-nav > li > a.btn-info, .btn-info {
    border-color: #68B3C8;
    color: #68B3C8;
}
.navbar .navbar-nav > li > a.btn-success, .btn-success {
    border-color: #7AC29A;
    color: #7AC29A;
}
.navbar .navbar-nav > li > a.btn-warning, .btn-warning {
    border-color: #F3BB45;
    color: #F3BB45;
}
.navbar .navbar-nav > li > a.btn-danger, .btn-danger {
    border-color: #EB5E28;
    color: #EB5E28;
}

.navbar .navbar-nav > li > a.btn-dark, .btn-dark {
    border-color: #000000 !important;
    color: #000000 !important;
}

.btn-neutral {
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
}

.btn.btn-fill, .navbar .navbar-nav > li > a.btn.btn-fill {
    color: #FFFFFF;
    background-color: #66615B;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle,
.navbar .navbar-nav > li > a.btn:hover,
.navbar .navbar-nav > li > a.btn:focus,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn.active, .open >
.navbar .navbar-nav > li > a.btn.dropdown-toggle {
  background-color: #00ac7d;
  color: rgba(255, 255, 255, 0.7);
  border-color: #fff;
}

.btn, .navbar .navbar-nav > li > a.btn {
    border-radius: 20px !important;
    box-sizing: border-box;
    border-width: 2px;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 18px;
    border-color: #fff;
    color: #fff;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    min-width: 10em;    
}
.promo-section{
    background-color: #2c3e50;
    padding: 100px 0;
    position: relative;
}

.promo-header{
    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0 15px;
    margin-left:auto;
    margin-right: auto;
    color:white !important;
}

.promo-desc{
    font-family: Rubik,Lato,"Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0 15px;
    margin-left:auto;
    margin-right: auto;
    color:white !important;
}
.promo-btn{
    margin: 0 auto;
    background: #00ac7d !important;
    color:white !important;
}

@media only screen and (min-width: 992px) {
    .main{
        margin-top: -112px;
    }
}